body{
    margin: 0;
    padding: 0;
    background-color: #AFD3E2;
}

.bg-navy{
    background-color: #146C94;
    
}

.nav-color{
    color: #F6F1F1;
}

.container img{
    height: 15rem;
    width: 15rem;
}

.img-fluid {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
  }
  
.deletePopupContainer{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.3);
    top: 0;
    left: 0;
    
}

.deletePopupContainer-active{
    display: flex;
}

.deletePopup{
    background-color: white;
    height: auto;
    width: 500px;
    padding: 15px 10px;
    border-radius: 15px;
}

.cancelMenu{
    text-align: end;
    
}

.cancelMenu i{
    cursor: pointer;
    font-size: large;
}

.cancelMenu i:hover{
    color: red;
}

.deleteMenu-body{
    text-align: center;
}